<%= form_with(model: box, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :max_vertical %>
    <%= form.number_field :max_vertical %>
  </div>

  <div class="field">
    <%= form.label :max_side %>
    <%= form.number_field :max_side %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
