<!--
  <div class="cursor"></div>
  <div class="cursor"><img src="https://www.evoworx.co.jp/wp2/wp-content/themes/evoworx2017/common/image/dog_red.png" alt=""></div>

  <input type="text" id="input input-height" placeholder="上から何段目?">
  <input type="text" id="input input-width" placeholder="左から何列目?">
  <button id="go" class="btn btn-lg btn-primary">GO</button>
  <button id="on" class="btn btn-lg btn-primary">ON</button>
  <button id="search" class="btn btn-lg btn-primary">SEARCH</button>
  <button id="reset" class="btn btn-lg btn-primary">RESET</button>
-->
<button id="go_home" class="btn btn_shoes_go_home">Go Home</button>

<div id="panel">
  <% @box.each do |box| %>
    <% tate = box.max_vertical %>
    <% yoko = box.max_side %>
<!--      <%= tate %> -->
<!--      <%= yoko %> -->
<!--  </div>          -->
    <script type="text/javascript">
      var panel = document.getElementById('panel');
      panel.style.width = <%= yoko * 120 %> +"px";
      panel.style.height = <%= tate * 80 %> +"px";
    </script>
    <%= form_with(model:[:box_user,@box_user],local: true, url: new_user_path) do |form| %>
      <% i = 0 %>
      <% n = 0 %>
      <% while i < tate do %>
        <% j = 0 %>
        <% while j < yoko do %>
          <!--  <div class="box_field"> -->
          <%= form.submit( :"box #{i}_#{j}", class:"box #{i}_#{j}" ) %>
          <% n = n + 1 %>
          <!--  </div> -->
          <%j = j + 1%>
        <% end %>
        <%i = i + 1%> 
      <% end %> 
  <% end %>
<% end %>

<!-- <div class="box empty"></div> -->
</div>
<div id="img_unit">
</div>
<div id="result"></div>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
